body {
    background-image: url('https://i.pinimg.com/736x/5e/02/77/5e02775fa00e998bdf7aff634efdf409.jpg');    
}

.container {
    display: flex;
    flex-direction: row;
    align-items: left;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    background-color: lightgray;
}

#project1title, #project2title {
    font-size: 20px;
    font-style: italic;
    padding-top: 15px;
    padding-left: 40px;
}

#project1description, #project2description {
    padding-left: 36px;
}

#projects {
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
}

#previousprojects {
    padding-left: 40px;
    font-weight: bold;
}

hr {
    width: 870px;
    border: 2px solid black;
    justify-content: left;
}

#hr2 {
    width: 1537px;
    border: 2px solid black;
    margin: 0;
}

.text {
    font-family: monospace;
}

#skillheader, #aboutheader, #contactsheader{
    font-size: 20px;
    font-style: italic;
}
.skillsetcontainer {
    display: block;
}

.textcontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 8px;
    margin-left: 40px;
}

.imgcontainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.project1 {
    height: 280px;
    width: 345px;
}

.project2 {
    height: 280px;
    width: 320px;
}

#name {
    font-size: 30px;
    font-weight: bold;
}

#previousprojects {
    font-size: 30px;
}

img {
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
}

.personalphoto {
    height: 500px;
    width: 650px;
}