body {
    background-image: url('https://images.unsplash.com/photo-1581362716668-90cdec6b4882?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

#footer {
    background-color: whitesmoke;
    flex-wrap: flex-end;
}

img {
    padding-top: 25px;
    align-self: center;
}